body{
	background-image: url(images/woodbackground.jpg);
	background-size: cover;
}

.jumbotron{
	background-color: rgba(252, 217, 63, 0.0);
	text-align: center;
}

#logo{
	font-family: 'Yesteryear', cursive;
	font-size: 220px;
	font-weight: bold;
	-webkit-text-stroke: 1px black;
  	color: #FCD93F;
   	text-shadow:
       		3px 3px 0 #000,
     		-1px -1px 0 #000,  
      		1px -1px 0 #000,
      		-1px 1px 0 #000,
      		 1px 1px 0 #000;
}

.titleline{
	font-weight: bold;
	font-size: 32px;
	background-color: rgba(252, 217, 63, 0.6);
}

.boldbar{
	border-top: 10px double #000;
}

#intro{
	background-color: rgba(255, 253, 204, 0.6);
	font-size: 32px;
	border: 3px;
	border-color: black;
}

 #map {
            height: 500px;
            width: 100%;
            background-color: rgba(255, 253, 204, 0.3);
}

.resultsTitle {
	font-weight: bold;
	font-size: 28px
	text-align: center;
}

#listing {
            width: 100%;
            background-color: rgba(255, 253, 204, 0.3);
            height: 600px;
            overflow: auto;
            top: 0px;
            cursor: pointer;
            overflow-x: hidden;
}

#findhotels {
            text-align: center;
            font-size: 14px;
            font-weight: bolder;
            padding: 4px;
            z-index: 5;
            background-color: rgb(252, 217, 63);
}

#locationField {
            text-align: center;
            z-index: 5;
            background-color: rgb(252, 217, 63)
}

#controls {
            left: 300px;
            width: 100%;
            top: 0px;
            z-index: 5;
            background-color: rgb(252, 217, 63);
            text-align: center;
}

#autocomplete {
            width: 100%;
            text-align: center;
}

#country {
            width: 200px;
}

.placeIcon {
            width: 20px;
            height: 34px;
            margin: 4px;
}

.hotelIcon {
            width: 24px;
            height: 24px;
}

#resultsTable {
            border-collapse: collapse;
            width: 160px;
}

#rating {
            font-size: 13px;
}

.iw_table_row {
            height: 18px;
}

.iw_attribute_name {
            font-weight: bold;
            text-align: right;
}

.iw_table_icon {
            text-align: right;
}

#copyright{
	background-color: rgba(252, 217, 63, 0.6) !important;
	font-weight: bolder;
}

#coupons {
      font-weight: bold;
      background-color: rgba(252, 217, 63, 0.6);
}


